@page
@model ShopAppUI.Pages.Items.CreateModel
@{
    ViewData["Title"] = "Create an item";    
}
<div class="container">
    <h4 class="text-center">@ViewData["Title"]</h4>
    <partial name="_ShopItemCreatePartial" model="Model.Item"/>
</div>
